body{
    color: #fff;
    background:#121c3f;
    padding: 10%;
    line-height: 1.5;
    height: 100vh;
}

.header{
    width: 100%;
}

.profile-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}


.info h3{
    margin: 5px;
}
